<aside>
  <span class="img"></span>
  <hr/>
  <h3>Education</h3>
  <h4>{{ user.academic }}</h4>
  <p>{{ user.date_of_birth }}</p>
  <hr/>
  <h3>Skills</h3>
</aside>

<main>
  <h3>Summary</h3>
  <h4>{{ user.academic }}</h4>
  <p>Summary description...</p>
  <h3>Professional Experience</h3>
  <ol>
    {% for company in companies %}
      <li>
        <h4>{{ company.role }}</h4>
        <p>
          <span class="company">{{ company.company_name }}</span>
          .
          <span>{{ company.start_date }}
            -
            {{ company.end_date }}</span>
        </p>
        <p>{{ company.experience }}</p>
      </li>
    {% endfor %}
  </ol>

  <h3>Internship Experience</h3>
  <ol>
    {% for intern in internships %}
      <li>
        <h4>{{ intern.intern_company_name }}</h4>
        <p>
          <span class="company">{{ intern.start_date }}
            -
            {{ intern.end_date }}</span>
        </p>
        <p>{{ intern.experience }}</p>
      </li>
    {% endfor %}
  </ol>

  <h3>Project Experience</h3>
  <ol>
    {% for project in projects %}
      <li>
        <h4>{{ project.project_name }}</h4>
        <p>{{ project.description }}</p>
        <p>
          <span class="company">{{ project.start_date }}
            -
            {{ project.end_date }}</span>
        </p>
      </li>
    {% endfor %}
  </ol>

  <h3>Publications</h3>
  <ol>
    {% for paper in papers %}
      <li>
        <h4>{{ paper.paper_title }}</h4>
        <p>{{ paper.journal }}</p>
        <p>{{ paper.publication_date }}</p>
        <p>{{ paper.abstract }}</p>
      </li>
    {% endfor %}
  </ol>

  <h3>External Activities</h3>
  <ol>
    {% for activity in external_activities %}
      <li>
        <h4>{{ activity.activity_name }}</h4>
        <p>{{ activity.description }}</p>
        <p>
          <span class="company">{{ activity.start_date }}
            -
            {{ activity.end_date }}</span>
        </p>
      </li>
    {% endfor %}
  </ol>
</main>
