<aside>
    <span class="img"></span>
    <hr />
    <h3>Education</h3>
    <h4>GIST AI 석사과정</h4>
    <p>1997-02-09</p>
    <hr />
    <h3>Skills</h3>
    <ul>
        <li>Machine Learning Skill</li>
        <li>Software Engineering</li>
        <li>Leadership</li>
        <li>Large-scale software</li>
    </ul>
    <a href="#">Sanha Hwang<span>.com</span></a>
</aside>

<main>
    <h3>Summary</h3>
    <h4>GIST AI 석사과정</h4>
    <p>Highly motivated AI engineer with experience in machine learning algorithms, software development, and project leadership. Skilled in designing, developing, testing, deploying, and maintaining large-scale software solutions. Proven ability to influence and coach teams and effectively manage project priorities, deadlines, and deliverables. Enthusiastic about applying technical expertise to solve challenging problems and drive innovation.</p>
    <h3>Professional Experience</h3>
    <ol>
        <li>
            <h4>AI Engineer</h4>
            <p>
                <span class="company">epl랩</span> . 2024-04-05 - 2024-06-12
            </p>
            <p>Developed and implemented AI solutions for computer vision tasks, including object detection algorithms for identifying and classifying people in images. Collaborated with a team of engineers and researchers to design and build large-scale software systems.</p>
        </li>
    </ol>

    <h3>Internship Experience</h3>
    <ol>
        <li>
            <h4>Intern</h4>
            <p><span class="company">2024-04-05 - 2024-06-12</span></p>
            <p>Developed a recommendation system for a personalized learning platform. Implemented machine learning models and algorithms to recommend relevant learning materials to users. Worked closely with engineers and product managers to design and implement the recommendation system.</p>
        </li>
    </ol>

    <h3>Project Experience</h3>
    <ol>
        <li>
            <h4>Object Detection</h4>
            <p>Developed an object detection algorithm using deep learning techniques to identify and classify objects in images. Achieved high accuracy in real-world scenarios. The project involved extensive research, data analysis, and model training.</p>
            <p>
                <span class="company">2024-04-05 - 2024-06-12</span>
            </p>
        </li>
    </ol>

    <h3>Papers</h3>
    <ol>
        <li>
            <h4>Player with AI </h4>
            <p>ICML 2024</p>
            <p>2024-06-15</p>
            <p>This paper explored the potential of using AI agents as players in complex games. The research involved developing and training AI models to achieve high performance in a strategic game. The paper was presented at the International Conference on Machine Learning (ICML).</p>
        </li>
    </ol>

    <h3>External Activities</h3>
    <ol>
        <li>
            <h4>Volunteer</h4>
            <p>Participated in volunteer activities at an animal shelter, providing care and support for abandoned animals. The experience involved cleaning, feeding, and playing with the animals.</p>
            <p>
                <span class="company">2022-10-06 - 2024-12-11</span>
            </p>
        </li>
    </ol>
</main>