<aside>
    <span class="img"></span>
    <hr />
    <h3>Education</h3>
    <h4>{{ user.academic }}</h4>
    <p>{{ user.date_of_birth }}</p>
    <hr />
    <h3>Skills</h3>
    <ul>
        <li>Deep Learning</li>
        <li>Content Generation</li>
        <li>Personalization Services</li>
        <li>Machine Learning Systems</li>
    </ul>
    <a href="#">{{ user.name }}<span>.com</span></a>
</aside>

<main>
    <h3>Summary</h3>
    <h4>I am a highly motivated and self-directed research scientist with extensive experience in Deep Learning, Content Generation, and Personalization Services. I am passionate about building large-scale machine learning systems and applying them to real-world problems.</h4>
    <p>I have a strong publication record in top-tier machine learning conferences and journals, and I am proficient in using various ML frameworks such as PyTorch, TensorFlow, and Keras. I am also familiar with GAN, transformer, and diffusion models.</p>
    <h3>Professional Experience</h3>
    <ol>
        {% for company in companies %}
        <li>
            <h4>{{ company.role }}</h4>
            <p>
                <span class="company">{{ company.company_name }}</span> . {{ company.period }}
            </p>
            <p>{{ company.experience }}</p>
        </li>
        {% endfor %}
    </ol>

    <h3>Internship Experience</h3>
    <ol>
        {% for intern in interns %}
        <li>
            <h4>{{ intern.intern_company_name }}</h4>
            <p><span class="company">{{ intern.period }}</span></p>
            <p>{{ intern.experience }}</p>
        </li>
        {% endfor %}
    </ol>

    <h3>Project Experience</h3>
    <ol>
        {% for project in projects %}
        <li>
            <h4>{{ project.project_name }}</h4>
            <p>{{ project.description }}</p>
            <p>
                <span class="company">{{ project.start_date }} - {{ project.end_date }}</span>
            </p>
        </li>
        {% endfor %}
    </ol>

    <h3>Publications</h3>
    <ol>
        {% for paper in papers %}
        <li>
            <h4>{{ paper.paper_title }}</h4>
            <p>{{ paper.journal }}</p>
            <p>{{ paper.publication_date }}</p>
            <p>{{ paper.abstract }}</p>
        </li>
        {% endfor %}
    </ol>

    <h3>External Activities</h3>
    <ol>
        {% for activity in activities %}
        <li>
            <h4>{{ activity.activity_name }}</h4>
            <p>{{ activity.description }}</p>
            <p>
                <span class="company">{{ activity.start_date }} - {{ activity.end_date }}</span>
            </p>
        </li>
        {% endfor %}
    </ol>
</main>