<aside>
    <span class="img"></span>
    <hr />
    <h3>Education</h3>
    <h4>GIST AIGS Master degree</h4> 
    <p>1997-02-09 
    </p>
    
    <hr />
 <h3>Skills</h3>
 <a href="#">Sanha Hwang <span>.com </span></a>
</aside>

<main>
    <h3 class="border">Summary</h3>
 <h4>GIST AIGS Master degree</h4> 
    
 <p style="font-size:18pt;">I am a highly motivated and experienced AI researcher with a Master's degree in AI from GIST AIGS. I have a strong passion for pushing the boundaries of artificial intelligence, and I am particularly interested in the areas of [key]deep learning[/key], [key]large-scale machine learning[/key], and [key]content generation[/key].</p>

<p>I have a proven track record of success in developing and deploying complex AI solutions. My experience includes working on projects related to [key]MAC silicon development[/key], [key]recommendation system research[/key], and creating automated systems for [key]content generation[/key] from various inputs. I am also skilled in designing and implementing [key]personalized recommendation systems[/key] for diverse applications.</p>

<p>I am a self-directed and goal-oriented individual with excellent communication skills. I am eager to contribute my expertise to a dynamic and innovative environment where I can continuously learn and grow.</p>

    <h3>Professional experience</h3> 

<ol> 

        <li> <h4>AI researcher <b> 
            <span class='company'>APPLE</span>. 
        </b> 2024-01 - Present 

</h4> 
<p> 
• Developed a MAC Silicon using [key]deep learning[/key] and [key]large-scale machine learning[/key] techniques. 

</p> 
</li> 
</ol> 
<h3> Internship experience</h3>
 

<ol > 

        
        <li >
            <h4>Recomendation system research 
                <b> <span style="font-size:16px;">BANANA</span>. 
                </b>
2023-06 - 2024-10
            
            < /h4 > 
<p > 
• Designed and implemented [key]recommendation systems[/key] for e-commerce platforms, utilizing advanced AI and [key]natural language processing[/key].
</p>
        </li >
        
</ol >

    <h3> Project experience 
</h3>

 <ol >
    
    
        <li > <h4><b>CV generator  </b></h4> 

        
        
<p >Created an automated resume revising project,utilizing AI and natural Language processing techniques. 

</p > 
<p > 

<span class='company' > 2023-03 - 2024-11 

</span > </p > 
</li > 
    </ol >
    <h3>Publications</h3>
 

<ol> 

        
        
        <li> 
        <h4>Transformer </h4> 
<br>
        • Published a research paper titled "Transformer: A Long -Term Memory Network" in AIAIA journal. 

        </li> 
        </ol> 

</main>