<aside>
    <span class="img"></span>
    <hr />
    <h3>Education</h3>
    <h4>GIST AIGS Master degree</h4>
    <p>February 9, 1997</p>
    <hr />
    <h3>Skills</h3>
    <ul>
        <li>Deep Learning: Proven expertise through research experience and project development in areas like MAC silicon development.</li>
        <li>Content Generation: Demonstrated skills in building AI models for generating content, as seen in the "CV generator" project.</li>
        <li>Personalization Services: Ability to design and implement personalization solutions, as evidenced by the internship experience in recommendation system research.</li>
        <li>Machine Learning Systems: Technical knowledge and experience with building large-scale ML systems, showcased through deep learning research and paper publications.</li>
    </ul>
    <a href="#">Sanha Hwang<span>.com</span></a>
</aside>

<main>
    <h3>Summary</h3>
    <h4>Highly motivated and self-directed research scientist with extensive experience in Deep Learning, Content Generation, Personalization Services, and Machine Learning Systems. Passionate about building large-scale ML systems and applying them to real-world problems.</h4>

    <p>Strong publication record in top-tier machine learning conferences and journals, including "Transformer" in AIAIAI with a focus on long-term memory architectures. Proficient in using ML frameworks like PyTorch, TensorFlow, and Keras. Also familiar with GAN, transformer, and diffusion models.</p>

    <h3>Professional Experience</h3>
    <ol>
        <li>
            <h4>AI researcher</h4>
            <p>
                <span class="company">APPLE</span> . December 2023 - February 2024
            </p>
            <p>Contributed to MAC silicon development using deep learning techniques.</p>
        </li>
        
    </ol>

    <h3>Internship Experience</h3>
    <ol>
        <li>
            <h4>BANANA</h4>
            <p><span class="company">December 2023 - February 2024</span></p>
            <p>Led research on recommendation systems, applying deep learning approaches.</p>
        </li>
    </ol>

    <h3>Project Experience</h3>
    <ol>
        <li>
            <h4>CV generator</h4>
            <p>AI model for automated CV revision services.</p>
            <p><span class="company">December 2023 - February 2024</span></p>
        </li>
    </ol>

    <h3>Publications</h3>
    <ol>
        <li>
            <h4>Transformer</h4>
            <p>AIAIAI</p>
            <p>June 30, 2021</p>
            <p>Proposed a novel long-term memory architecture outperforming LSTMs.</p>
        </li>
    </ol>

    <h3>External Activities</h3>
</main>