**

<aside>
    <span class="img"></span>
    <hr />
    <h3>Education</h3>
    <h4>GIST AI대학원 석사</h4>
    <p>1997-02-09</p>
    <hr />
    <h3>Skills</h3>
    <p>
        **Full Stack Development:** 2 years of experience with [key]Software Development[/key] in Python, Java, and JavaScript, building and deploying web applications.
        **[key]Data Structures and Algorithms[/key]:** 2 years of experience with data structures and algorithms, including using them to solve complex problems in large-scale systems.
        **[key]Large Scale Systems:**** 2 years of experience with developing and maintaining large-scale systems, including distributed systems and cloud platforms.
    </p>
</aside>

<main>
    <h3>Summary</h3>
    <h4>GIST AI대학원 석사</h4>
    <p>Highly motivated and results-oriented software engineer with 2+ years of experience in [key]full-stack development[/key], [key]data structures and algorithms[/key], and [key]large-scale systems[/key]. Proven ability to design, develop, test, and deploy high-quality software solutions. Strong analytical and problem-solving skills with a passion for innovation and continuous learning.</p>
    <h3>Professional Experience</h3>
    <ol>
        <li>
            <h4>AI researcher</h4>
            <p>
                <span class="company">A LABS</span> . 2024-01-13 - 2024-06-13
            </p>
            <p>Developed a recommendation system using deep learning techniques, leveraging data structures and algorithms to optimize performance.</p>
        </li>
    </ol>

    <h3>Internship Experience</h3>
    <ol>
        <li>
            <h4>CV developer</h4>
            <p><span class="company">B LABS</span></p>
            <p>Developed a CV generator using natural language processing techniques, demonstrating strong
                 understanding of data structures and algorithms.</p>
        </li>
    </ol>

    <h3>Project Experience</h3>
    <ol>
        <li>
            <h4>CV generator</h4>
            <p>
                Developed a CV generator using natural language processing techniques, demonstrating strong understanding of data structures and algorithms, and front-end development skills.
            </p>
            <p>
                <span class="company">2024-01-13 - 2024-06-13</span>
            </p>
        </li>
    </ol>
    
    <h3>Publications</h3>
    <ol>
        </ol>

    <h3>External Activities</h3>
    <ol>
        </ol>
</main>
            
**