**

<aside>
    <span class="img"></span>
    <hr />
    <h3>Education</h3>
    <h4>GIST AI대학원 석사</h4>
    <p>1997-02-09</p>
    <hr />
    <h3>Skills</h3>
    <p>
        Proven experience in [key]cybersecurity[/key] with a focus on developing and deploying [key]deep learning[/key] and [key]machine learning[/key] models for threat detection and analysis.
        Expert in [key]Python[/key] and familiar with various deep learning frameworks.
    </p>
</aside>

<main>
    <h3>Summary</h3>
    <h4>GIST AI대학원 석사</h4>
    <p> Highly motivated and results-oriented AI researcher with a strong background in [key]cybersecurity[/key], [key]deep learning[/key], and [key]machine learning[/key]. Possess a proven ability to design, develop, and deploy intelligent systems for cyber threat detection and analysis. Skilled in [key]Python[/key], deep learning frameworks, and have experience in research and development.</p>
    <h3>Professional Experience</h3>
    <ol>
        <li>
            <h4>AI researcher</h4>
            <p>
                <span class="company">A LABS</span> . 2024-01-13 - 2024-06-13
            </p>
            <p>Developed a [key]machine learning[/key]-based recommendation system for detecting and analyzing cyber threats, leveraging [key]deep learning[/key] techniques and leveraging my expertise in [key]python[/key].</p>
        </li>
    </ol>

    <h3>Internship Experience</h3>
    <ol>
        <li>
            <h4>CV developer</h4>
            <p><span class="company">B LABS</span></p>
            <p>Developed a CV generator using various Natural Language Processing technologies, demonstrating my programming skills in [key]python[/key] and knowledge of AI models.</p>
        </li>
    </ol>

    <h3>Project Experience</h3>
    <ol>
        <li>
            <h4>CV generator</h4>
            <p>
                Developed a CV generator using natural language processing techniques, demonstrating strong understanding of data structures and algorithms, and front-end development skills.
            </p>
            <p>
                <span class="company">2024-01-13 - 2024-06-13</span>
            </p>
        </li>
    </ol>
    
    <h3>Publications</h3>
    <ol>
        </ol>

    <h3>External Activities</h3>
    <ol>
        </ol>
</main>
            
**